.admintitle
{
    background-color: mediumseagreen ;
    color: black;
}

.dashbord
{
    background-color: mediumspringgreen;
    color: black;
}

.indextitle
{
    background-color: turquoise;
    color: teal;
}